<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sey(Maple)Yeaple</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">SeyMaple</a>
        <button id="mobile-menu" class="navbar__toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="/Odl.html" class="navbar__links">Odl</a>
          </li>
          <li class="navbar__item">
            <a href="Art.html" class="navbar__links">Art</a>
          </li>
          <li class="navbar__item">
            <a href="About.html" class="navbar__links">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <script src="app.js"></script>
  </body>
</html>
12:11
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar {
  background-image: url(images/Cover_Header_Design.png);
  background-repeat: no-repeat;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar__logo {
  background-image: linear-gradient(to top, #ff2d08 0%, #ffb19f 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.fa-gem {
  margin-right: 0.5rem;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item {
  height: -100px;
}
.navbar__links {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 5rem;
  height: 100%;
}
.navbar__links:hover {
  color: #ffb19f;
  transition: all 0.3s ease;
}
button#mobile-menu {
  display: none;
}
@media screen and (max-width: 960px) {
  button#mobile-menu {
    display: block;
  }
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: none;
    margin: 0;
    width: 100%;
    position: absolute;
    margin-left: -50px;
    top: 80px;
    opacity: 1;
    transition: all 0.01s ease;
    z-index: -1;
    background-image: url(images/Cover_Header_Design.png);
  }
  .navbar__menu.active {
    display: block;
  }
  #navbar__logo {
    padding-left: 1px;
    margin-left: -15px;
  }
  .navbar__toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    cursor: pointer;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 1.6rem;
    margin-top: 2px;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    right: 15px;
    transform: translate(5%, 20%);
    width: 50px;
    height: 50px;
  }
  button#mobile-menu {
    background-color: #000;
    border: none;
}
}}